<style>
body {

font-family: "Roboto", Helvetica, Arial, sans-serif;

font-weight: 100;

font-size: 12px;

line-height: 30px;

color: #777;

background-image:linear-gradient(120deg, #AED9DA 0%, #3DDAD7 100%);

}

</style>

<h1>새 글 쓰기</h1>

<%= render 'form' %>

<%= link_to 'Back', boards_path %>
